{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <style>
        body
            {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjuqmYAOtZQ2PsJDdVwpDy7f24cRsNvoLiooE0HmuxDYSw6M10");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
       #rcorners1
             {
                border-radius: 50px;
                background: #73AD21;
                padding: 20px;
             }
    </style>


    <main class="contianer p-5 p-7 mb-2 bg-dark text-white " id="rcorners1">
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    </main>

{% endblock %}
