{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <style>
        body
            {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRKanoM2NvSENL1wx8IT5Kr7Jgd6qp9WJEKXZgZF9I3aNCvuPXC");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
      #rcorners1
             {
                border-radius: 50px;
                background: #73AD21;
                padding: 20px;
             }
    </style>


    <main class="contianer p-5 p-3 mb-2 bg-dark text-white " id="rcorners1">
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    </main>

{% endblock %}
